<div>
  <div class="mx-auto max-w-xl my-10">
    <h1 class="text-brand flex items-center text-[3rem] font-semibold leading-6">
      ScoreGoblin
    </h1>
  </div>

  <.link href={~p"/games/new"}>
    <.button>New Game</.button>
  </.link>


  <ScoregoblinWeb.GameList.game_list games={@games} />
</div>
