<div class="">
  <div class="mx-auto max-w-xl my-10">
    <h1 class="text-brand flex items-center justify-center text-[3rem] font-semibold leading-6">
      ScoreGoblin
    </h1>
  </div>

  <.link href={~p"/games/new"} class="mx-auto my-10">
    <.button>New Game</.button>
  </.link>

  <ScoregoblinWeb.PlayerList.player_list players={@players} />

  <ScoregoblinWeb.GameList.game_list games={@games} />
</div>
