<.header>
  Listing Games
  <:actions>
    <.link href={~p"/games/new"}>
      <.button>New Game</.button>
    </.link>
  </:actions>
</.header>

<ScoregoblinWeb.GameList.game_list games={@games} quick_edit={true} />
